<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AWS S3</title>
</head>
<body>
    <h1>S3 파일 업로드</h1>
    <form action="/file" method="post" enctype="multipart/form-data">
        Title : <input type="text" name="title"> <br>
        파일 : <input type="file" name="file"> <br>
        <button>S3로 업로드</button>
    </form>

    <div>
        <h1>S3 파일 목록</h1>
        <span th:each="file : ${s3Files}">
            <p th:text="${file.title}"></p>
            <p th:text="${file.fileSize}"></p>
        </span>
    </div>


</body>
</html>